@media screen and (min-width:768px) and (max-width: 992px){
    body{
        background-color: var(--bg-color);
        background-image: url("https://i.imgur.com/d52WsKf.png");
        background-position: center; 
        background-repeat: repeat-x;
        width: 100vh;
        height: 100vh;   
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        width: 97vmax;
    }
    .card > h2{
        font-size: 15px;
    }
    .card > span{
        font-size: 50px;
    }
    .navbarnav{
        width: 100%;
        /* background-image: linear-gradient(to right , #67009a, #60038e, #fdba07); */
    }
    
    
}
