@import url('https://fonts.googleapis.com/css2?família=Mulish:wght@400; 600&display=swap');

@font-face {
  font-family: 'novafont';
  src: url('https://fonts.googleapis.com/css2?família=Mulish:wght@400; 600&display=swap')
  format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
   
}
:root{
    --bg-color: black;
}
body{
    background-color: var(--bg-color);
    background-image: url("https://i.imgur.com/SdzspJC.png");
    border-color: black;
    background-position: top; 
    background-repeat: repeat-x;
    width: 99vmax;
    height: 99vh;   
}
.sobre{
   
    top: 0;
}
.sobre .sobrepor{
    width: 50%;
    padding-top: 100px;
    position: absolute;
    top: 0;
}
.navbar{
    align-items: center;
    width: auto;
    background-color: transparent;
    height: auto;
    margin: 0;
    display: flex;
    height: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.navbar img{
    height: 80px;
    margin-right: 30px;
}
.navbar a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding: 9px;
    margin-left: 15px;
    margin-right: 15px;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar .login{
    margin-left: 30px;
}

.navbarnav{
    width: 99vmax;
    /* background-image: linear-gradient(to right , #67009a, #60038e, #fdba07); */
    
}
.img{
    left: 0;
}
.login{
    position: absolute;
    right: 0;
    border-style:solid;
    border-width: 1px;
    border-color: #f2f2f2;
    padding: 0;
    margin: 0;
}
.login:hover
{
    color: black;
    background-color: white;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .posição{
    position: absolute;
    top: 600px;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
  }
  .login:hover{
    text-decoration: none;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .texto{
    position: relative;
    top: 80px;
    flex-wrap: wrap;
  }
  .texto > label{
   display: block;
   color: white;
   margin-left: 10vh;
   padding: 20px;

  }

  .texto > label.textomaior{
    font-size: 50px;
   }
   .texto > label.textinho{
    font-size: 20px;
    line-height: 30px;
   }
   .texto > button{
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 12vh;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    color: white;
    transition: 0.9s;
    font-size: 15px;
   }
   .texto > button:hover{
    cursor: pointer;
   }

   .cards{
    width: 99vmax;
    position: relative;
    top: 30vmax;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
   }
   .cards > label{
    position: absolute;
    top: 0;
    font-size: 40px;
    color: #f2f2f2;
   }
   
   .card{
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 350px;
    height: 400px;
    transition: all 0.3s ease-out;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    justify-content: center;
   }

   .card > h2{
    height: 10vh;
   }

   .card > span{
    color: #ff5b1b;
    font-size: 95px;
    margin-bottom: 20px;
    display: inline-block;
   }

   .card .laranjinha{
    display: flex;
    background-color: #ff5b1b;
    height: 3px;
    width: 15%;
    padding: 3px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
   }


   .cards2{
    width: 99vmax;
    position: relative;
    top: 25vmax;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
   }

   .cards2 > label{
    position: absolute;
    top: 0;
    font-size: 40px;
    color: #f2f2f2;
   }
   .cards2 > label.textinho{
    font-size: 20px;
    margin-top: 20px;
   }
   
   .card2{
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    background-color: transparent;
    border-style: solid;
    border-color: #ff5b1b;
    border-width: 2px;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 100px;
   }

   .card2.longo{
   width: 100vmax;
   border-style: none;
   padding: 0;
   margin: 0;
   height: 0;
   }
   .card2 > label{
    font-size: 27px;
    padding: 30px;
   }

   .cards2 > .textomaior{
    color: white;
    display: inline-block;
    flex-wrap: wrap;
   }
   .cards2 > .textinho{
    color: white;
    display: inline-block;
    flex-wrap: wrap;
   }
   .card2.botão{
    border-style: none;
    box-shadow: none;
   }
   .card2.botão > button{
    background-color: #ff5b1b;
    border-style: solid;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    width: 260px;
    margin-top: 10px;
   }
   .card2.botão > button:hover{
    cursor: pointer;
   }
 
   .cardstexto{
    color: white;
    position: relative;
    top: 28vmax;
    width: 99vmax;
    text-align: center;
  }
  .cardstexto > label{
   color: white;
   padding: 20px;
   display: block;
  }

  .cardstexto > label.textomaior{
    font-size: 50px;
   }
   .cardstexto > label.textinho{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 45px;
   }

   .sobrenos{
    background-color:  #1d1d1d;
    width: 99vmax;
    height: 500px;
    position: relative;
    top: 5vmax;
    justify-content: center;
    align-items: center;
   }
   .sobrenos  > .direta{
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 180px;
    width: 300px;
   }
   .sobrenos > .direta label{
    color: white;
    position: relative;
    bottom: 0;
    font-size: 20px;
    display: block;
   }

   .sobrenos > .direta label.funcao{
    margin-top: 20px;
    font-size: 15px;
   }
   .sobrenos > .direta label.nomes{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Mulish', sans-serif;
   }

   .sobrenos > .direta img{
    margin-top: 65px;
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: auto; /* aqui */
    margin-right: auto;
    border-style: solid;
    border-color: #ff5b1b;
    border-width: 1px;
    padding: 10px;
   }
   
   @keyframes slideshow {
    0% {
        left: 0;
    }

    10% {
        left: 0;
    }

    15% {
        left: -100%;
    }

    25% {
        left: -100%;
    }

    30% {
        left: -200%;
    }

    40% {
        left: -200%;
    }

    45% {
        left: -300%;
    }

    55% {
        left: -300%;
    }

    60% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: 0%;
    }
}

   .sobrenos > .direta .fundadores{
     color: #ff5b1b;
     padding: 5px;
     font-size: 20px;
     border-radius: 30px;
     font-weight: bold;
     margin-top: 30px;
   }

   .sobrenos > .direta button{
    background-color: #ff5b1b;
    border-style: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: white;
    font-size: 5px;
    position: absolute;
    right: 0;
   }
   .sobrenos > .direta button:hover{
    cursor: pointer;
   }
   .sobrenos > .direta button span{
    font-size: 18px;
    
   }

   .sobrenos > .esquerda{
    height: 100%;
    width: 40vmax;
    color: #f2f2f2;
    font-size: 20px;
    display: block;
    margin-left: 10vmax;
    text-align: start;
   }

   .sobrenos > .esquerda label{
    font-size: 20px;
    line-height: 40px;
   }
   .sobrenos > .esquerda label.titulo{
    display: block;
    top: 0;
    bottom: 2;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
    font-weight: bold;
   }
   .sobrenos > .esquerda a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    color: #ff5b1b;
  
   }
   .sobrenos > .esquerda .laranjinha{
    background-color: #ff5b1b;
    width: 118px;
    height: 4px;
    display: flex;
    bottom: 0;
    margin-top: 8px;
   }
   .sobrenos > .esquerda .link span{
    font-size: 30px;
    justify-content: center;
   }

   .edfinanceira{
    display: flex;
    margin-top: 260px;
    width: 99vmax;
   }

   .edfinanceira > .esquerda{
    float: left;
    width: 45vmax;
   }

   .edfinanceira > .esquerda img{
    width: 800px;    
    margin-top: 30px;
   }
   .edfinanceira > .direita{
    width: 60vmax;
   }
   .edfinanceira > .direita .titulinho{
    display: flex;
    font-weight: bold;
   }
   .edfinanceira > .direita .titulo{
    display: block;
    color: white;
    font-size: 40px;
    width: auto;
    height: 40px;
    margin-left: 20px;
   }
   .edfinanceira > .direita .quebra{
    width: 100vmax;
    display: block;
   }
   .edfinanceira > .direita .textinho{
    display: flex;
    color: white;
    font-size: 30px;
    color: #ff5b1b;
    margin-top: 30px;
    margin-left: 2px;
   }
   .edfinanceira > .direita .laranjinha{
   
    background-color: #ff5b1b;
    width: 10px;
    height: 120px;
 
   }
   .edfinanceira > .direita .texto{
    color: #f2f2f2ec;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 100px;
    line-height: 33px;
   }

   .edfinanceira > .direita button{
    background-color: #ff5b1b;
    border-style: solid;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    width: 220px;
    margin-top: 10px;
    margin-left: 0;
   }
   