@import url('https://fonts.googleapis.com/css2?família=Mulish:wght@400; 600&display=swap');

@font-face {
  font-family: 'novafont';
  src: url('https://fonts.googleapis.com/css2?família=Mulish:wght@400; 600&display=swap')
  format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    
}

:root{
    --bg-color: black;
}

body{
    background-color: var(--bg-color) !important;
    background-image: url("https://i.imgur.com/SdzspJC.png");
    border-color: black;
    background-size: 99vmax;
    background-position: top; 
    background-repeat: repeat-x;
    width: 99vmax;
    height: 99vh;
}

.sobre{
    top: 0;
}
.sobre .sobrepor{
    width: 50%;
    padding-top: 100px;
    position: absolute;
    top: 0;
}
.navgbar{
    align-items: center  !important;
    width: auto  !important;
    background-color: transparent;
    height: auto!important;
    margin: 0!important;
    display: flex!important;
    height: 90px!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)!important;
}
.navgbar img{
    height: 80px;
    margin-right: 30px;
}
.navgbar a.img:hover{
 border-bottom:  none !important;
}
.navgbar a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding: 9px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.navgbar a:hover{
    border-bottom: 2px solid #ff5b1b !important;
    color: #f2f2f2 !important;
    animation-duration: 5s;
}

.navgbar .login{
    margin-left: 30px !important;
}

.navgbarnav{
    width: 99vmax !important;
    /* background-image: linear-gradient(to right , #67009a, #60038e, #fdba07); */
    
}
.img{
    left: 0;
}
.login{
    position: absolute;
    right: 0;
    border-style:solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
    margin: 0;
}
.navgbar .login:hover
{
   border-style: solid;
    border-color: #ff5b1b;
    background-color:#ff5b1b;
    text-decoration: none !important;
    color: white; 
}

/* The dropdown container */
.dropsdown {
    float: left  !important;;
    overflow: hidden  !important;;
  }
  
  /* Dropdown button */
  .dropsdown .dropsbtn {
    font-size: 16px  !important;;
    border: none  !important;;
    outline: none  !important;;
    color: white  !important;;
    padding: 14px 16px  !important;;
    background-color: inherit  !important;;
    font-family: inherit  !important;; /* Important for vertical align on mobile phones */
    margin: 0  !important;; /* Important for vertical align on mobile phones */
  }
  .posição{
    position: absolute  !important;;
    top: 600px  !important;;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropsdown:hover .dropsbtn {
   
  }
  .login:hover{
    text-decoration: none  !important;
  }
  
  /* Dropdown content (hidden by default) */
  .dropsdown-content {
    display: none  !important;;
    position: absolute  !important;;
    min-width: 160px  !important;;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)  !important;;
    z-index: 1  !important;;
  }
  
  /* Links inside the dropdown */
  .dropsdown-content a {
    float: none  !important;;
    color: white  !important;;
    padding: 12px 16px  !important;;
    text-decoration: none  !important;;
    display: block  !important;;
    text-align: left  !important;;
  }
  /* Show the dropdown menu on hover */
  .dropsdown:hover .dropsdown-content {
    display: block !important;
  }
  .texto{
    position: relative;
    top: 80px;
    flex-wrap: wrap;
  }
  .texto > label{
   display: block;
   color: white;
   margin-left: 10vh;
   padding: 20px;
  }

  .texto > label.textomaior{
    font-size: 50px;
   }
   .texto > label.textinho{
    font-size: 20px;
    line-height: 30px;
   }
   .texto > button{
    width: 130px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 12vh;
    border-style: solid;
    border-color:#ff5b1b;
    background-color: transparent;
    color: white;
    font-size: 16px;
   }
   .texto > button:hover{
    cursor: pointer;
    background-color:transparent;
    color:white;
    text-decoration: underline;
    text-shadow: 0em 0em 2em #ff5b1b;
   }

   .cards{
    width: 99vmax;
    position: relative;
    top: 30vmax;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
   }
   .cards > label{
    position: absolute;
    top: 0;
    font-size: 40px;
    color: #f2f2f2;
   }
   
   .card{
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 350px;
    height: 400px;
    transition: all 0.3s ease-out;
    background-color: #1d1d1d !important;
    color: white;
    text-align: center;
    justify-content: center;
   }

   .card > h2{
    height: 10vh !important;
    font-size: 25px;
   }

   .card > span{
    color: #ff5b1b;
    font-size: 95px !important;
    margin-bottom: 20px;
    display: inline-block;
   }

   .card .laranjinha{
    display: flex;
    background-color: #ff5b1b;
    height: 3px;
    width: 15%;
    padding: 3px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
   }


   .cards2{
    width: 99vmax;
    position: relative;
    top: 25vmax;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
   }

   .cards2 > label{
    position: absolute;
    top: 0;
    font-size: 40px;
    color: #f2f2f2;
   }
   .cards2 > label.textinho{
    font-size: 20px;
    margin-top: 20px;
   }
   
   .card2{
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    background-color: transparent;
    border-style: solid;
    border-color: #ff5b1b;
    border-width: 2px;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 100px;
   }

   .card2.longo{
   width: 100vmax;
   border-style: none;
   padding: 0;
   margin: 0;
   height: 0;
   }
   .card2 > label{
    font-size: 27px;
    padding: 30px;
   }

   .cards2 > .textomaior{
    color: white;
    display: inline-block;
    flex-wrap: wrap;
   }
   .cards2 > .textinho{
    color: white;
    display: inline-block;
    flex-wrap: wrap;
   }
   .card2.botão{
    border-style: none;
    box-shadow: none;
   }
   .card2.botão > button{
    background-color: #ff5b1b;
    border-style: solid;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    width: 260px;
    margin-top: 10px;
   }
   .card2.botão > button:hover{
    cursor: pointer;
   }
 
   .cardstexto{
    color: white;
    position: relative;
    top: 28vmax;
    width: 99vmax;
    text-align: center;
  }
  .cardstexto > label{
   color: white;
   padding: 20px;
   display: block;
  }

  .cardstexto > label.textomaior{
    font-size: 50px;
   }
   .cardstexto > label.textinho{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 45px;
   }

   .sobrenos{
    background-color:  #1d1d1d;
    width: 99vmax;
    height: 500px;
    position: relative;
    top: 5vmax;
    justify-content: center;
    align-items: center;
   }
   .sobrenos  > .direta{
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 180px;
    width: 300px;
  
   }
   .sobrenos > .direta label{
    color: white;
    position: relative;
    bottom: 0;
    font-size: 20px;
    display: block;
   }

   .sobrenos > .direta label.funcao{
    margin-top: 15px;
    font-size: 15px;
   }
   .sobrenos > .direta label.nomes{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Mulish', sans-serif;
   }

   .sobrenos > .direta img{
    margin-top: 65px;
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: auto; /* aqui */
    margin-right: auto;
    border-style: solid;
    border-color: #ff5b1b;
    border-width: 1px;
    padding: 10px;
   }
   
   .sobrenos > .direta .fundadores{
     color: #ff5b1b;
     padding: 5px;
     font-size: 20px;
     border-radius: 30px;
     font-weight: bold;
     margin-top: 30px;
   }

   
   .sobrenos > .direta button{
      top: 76%;
      font-size: 30px;
      align-items: center;
      text-align: center;
      
   }
     
   .sobrenos > .direta button span{
    margin-top: 40%;
    font-size: 100px;
    width: 100%;
    height: 100%;
 }

   .sobrenos >  .direta button.direita{
    background-color: #ff5b1b;
    border-style: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: white;
    position: absolute;
    right: 0;
   }
   .sobrenos > .direta button.esquerda{
    background-color: #ff5b1b;
    display: flex;
    border-style: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: white;
    position: absolute;
    left: 0;
    display: flex;
   }
   
   .sobrenos > .direta button{
    background-color: #ff5b1b;
    display: flex;
    border-style: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: white;
    font-size: 5px;
    position: absolute;
   }
   .sobrenos > .direta button:hover{
    cursor: pointer;
   }
   .sobrenos > .direta button span{
    font-size: 18px;
    
   }

   .sobrenos > .esquerda{
    height: 100%;
    width: 40vmax;
    color: #f2f2f2;
    font-size: 20px;
    display: block;
    margin-left: 10vmax;
    text-align: start;
   }

   .sobrenos > .esquerda label{
    font-size: 20px;
    line-height: 40px;
   }
   .sobrenos > .esquerda label.titulo{
    display: block;
    top: 0;
    bottom: 2;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
    font-weight: bold;
   }
   .sobrenos > .esquerda a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    color: #ff5b1b;
  
   }
   .sobrenos > .esquerda .laranjinha{
    background-color: #ff5b1b;
    width: 118px;
    height: 4px;
    display: flex;
    bottom: 0;
    margin-top: 8px;
   }
   .sobrenos > .esquerda .link span{
    font-size: 30px;
    justify-content: center;
   }

   .edfinanceira{
    display: flex;
    margin-top: 260px;
    width: 99vmax;
   }

   .edfinanceira > .esquerda{
    float: left;
    width: 45vmax;
   }

   .edfinanceira > .esquerda img{
    width: 800px;    
    margin-top: 30px;
   }
   .edfinanceira > .direita{
    width: 60vmax;
   }
   .edfinanceira > .direita .titulinho{
    display: flex;
    font-weight: bold;
   }
   .edfinanceira > .direita .titulo{
    display: block;
    color: white;
    font-size: 40px;
    width: auto;
    height: 40px;
    margin-left: 20px;
   }
   .edfinanceira > .direita .quebra{
    width: 100vmax;
    display: block;
   }
   .edfinanceira > .direita .textinho{
    display: flex;
    color: white;
    font-size: 30px;
    color: #ff5b1b;
    margin-top: 15px;
    margin-left: 2px;
   }
   .edfinanceira > .direita .laranjinha{
   
    background-color: #ff5b1b;
    width: 10px;
    height: 120px;
 
   }
   .edfinanceira > .direita .texto{
    color: #f2f2f2ec;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 100px;
    line-height: 33px;
   }

   .edfinanceira > .direita button{
    background-color: #ff5b1b;
    border-style: solid;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    width: 220px;
    margin-top: 10px;
    margin-left: 0;
   }

   .blog{
    margin-top: 200px;
    background-color:#1d1d1d;
    width: 99vmax;
    text-align: center;
   }
   .blog > .laranjinha{
    background-color: #ff5b1b;
    display: block;
    width: 200px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    
   }

   .blog > .titulo{
    color: #f2f2f2;
    display: block;
    margin-top: 90px;
    margin-bottom: 15px;
    color:#ff5b1b;
    display: block;
    font-weight: bold;
    font-size: 30px;
   }
   .blog > .textinho{
    color: #f2f2f2;
    display: block;
    margin-top: 10px;
    font-size: 45px;
    margin-bottom: 20px;
   }
   .blog > .noticias{
    display: flex;
    margin-top: 0;
    width: 99vmax;
    justify-content: center;
   }
   .blog > .noticias .carde{
    background-color: black;
    width:  305px;
    height: 344px;
    padding: 0;
    overflow: hidden;
    margin: 5px !important;
    margin-bottom: 30px !important;
    margin-top: 60px !important;
    border-radius: 8px;
   }
   .blog >  .noticias .carde img{
    display: flex;
    width: 100%;
    height: 218px;
   }
   .blog >  .noticias .carde .data{
    font-weight: bold;
    margin-top: 5px;
    margin-right: 20px;
    display: block;
    float: right;
   }
   .blog >  .noticias .carde .titulo{
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
    display: block;
    text-align: left;
    align-self: center;
   }
   
   .infos{
    margin-top: 200px;
    width: 99vmax;
    background-color: transparent;
    height: 600px;
    text-align: center;
    justify-content: center;
   }

   .infos > .titulo{
    color: white;
    font-size: 50px;
    display: block;
   }
   .infos > .textinho{
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
   }
   .infos .laranjinha{
    display: block;
    background-color: #ff5b1b;
    width: 60px;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .infos > .titulo laranja{
    color: #ff5b1b;
    font-weight: bold;
   }

   .infos > .contato{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80vmax;
    background-color: #1d1d1d;
    height: 300px;
    justify-content:  space-evenly;
    align-items: center;
   }
   .infos > .contato .contatos{
    width: 250px;
    height: 250px;
    justify-content: center;
   }
   .infos > .contato .contatos > button{
    display: block;
    width: 150px;
    height: 150px;
    background-color: #ff5b1b;
    border-style: none;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
   }
   .infos > .contato .contatos > button i{
    color:white ;
    font-size: 60px;
   }
   .infos > .contato .contatos > .informacao{
    display: block;
    color: white;
    margin-top: 30px;
    font-size: 20px;
   }
   .rodape{
    width: 99vmax;
    margin-bottom: 1vmax;
   
   }
   .rodape img{
   
    width: 200px;
   }

   .rodape .copy{
   
    color: white;
   }

   .rodape .links{
    text-align: left;
    color: white;
    margin-left: 30px;
   }
   .rodape .links a{
    display: flex;
    
    color: #f2f2f2;
    text-decoration: none;
    padding: 5px;
    float: right;
   }
   