body{
    background: url(bg_novo.svg), bottom, center, no-repeat;
    background-size: 100%, auto;
    margin: 0px;
    background-color: aqua;
}

.Login {
    width: 500px;
    height: 200px;
    background-color: aqua;
    
  }