@media screen and (min-width:768px) and (max-width: 992px){
    body{
        background-color: black;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vh;
    }
    section#login{
        width: 100%;
    }
    section#login > div#img{
        float: left;
        width: 60%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 40%;
        height: 100%;
    }
}

@media screen and (min-width:992px) {
    body{
        background-color: black;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vh;
    }
    section#login{
        width: 100%;
        height: 100%;
    }
    section#login > div#img{
        float: left;
        width: 55%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 75vh;
        height: 100%;
    }
}