*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
}

section.cadastro{
    text-align: center;
    width: 465px;
    height: auto;

}

section.cadastro > form img{
    width: 200px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
}
section.cadastro > form .etapa {
   display: flex;
}
section.cadastro > form h1 {
    margin-bottom: 20px;
    font-size: 30px;
 }

 section.cadastro > form .subtitulo {
    margin-bottom: 40px;
    line-height: 25px;
 }
 
section.cadastro > form .etapa label{
    margin-top: 30px;
    margin-bottom: 60px;
    background-color:#1d1d1d;
    display: inline-block;
    height: 10px;
    width: 100%;
}

section.cadastro > form .etapa .um{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

section.cadastro > form .etapa .quatro{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

section.cadastro > form .text_field input{
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    transition: 0.3s;
    width: 95%;
    margin-top: 10px;
    padding: 15px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid #d14919;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}
section.cadastro > form .text_field{
    text-align: left;
    margin-bottom: 20px;
}

section.cadastro > form input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

section.cadastro > form  .btn_login{
    width: 100%;
    background-color: #d14919;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    border-style: none;
    border-radius: 10px;
 }
 section.cadastro > form .btn_login:hover{
     border-radius: 10px;
     background-color: #d15e34;;
     margin-top: 20px;
    margin-bottom: 80px;
     font-size: 18px;
     cursor: pointer;
  }
  .voltar{
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.705);
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 1px;
}

.voltar:hover{
    border-bottom: 1px solid #ff5b1b;
}

section.cadastro > form .confirme{
    color: white;
    border-style: none;
    width: 10%;
    height: 0px;
    float: right;
    position: relative;
    display: flex;
    margin-bottom: 25px;
}


.rodapé{
    color: rgba(255, 255, 255, 0.705);;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}