*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.450);

    background-color: black;
    width: 60vh;
    height: 100vh;

    transition: width 0.5s, height 0.5s;
    
}

section#login > div#img{
    display: block;
    background: url(../teste_logo2.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#login > div#formulario h1{
    color: white;
    padding: 20px;
    font-size: 30px;
}

section#login > div#formulario .text_field{
    padding: 20px;
    color: white;
}
section#login > div#formulario .text_field > input{
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    float: right;
    margin-left: 10px;
    border-bottom: solid  gray  ;
    transition: 0.3s;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
section#login > div#formulario .text_field > input:focus{
    border-style: none;
    border-bottom: solid  #d14919 ;
    box-shadow: 0 0 0 0;
    outline: 0;
}
section#login > div#formulario .btn_login{
    width: 100%;
    
    background-color: #d14919;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    border-style: none;
     
 }
 section#login > div#formulario .btn_login:hover{
     border-radius: 10px;
     background-color: #c9491b9d;
     padding: 5px;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 18px;
     cursor: pointer;
  }

section#login > div#formulario .esqueceu{
    font-size: 14px;
    border-radius: 10px;
    color: white;
    padding: 5px;
    float: right;
 }
section#login > div#formulario .cadastro{
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: 14px;
    margin-left: 25px;
    margin-right: auto;
 }

 section#login > div#formulario .cadastro > a{
    color: #d14919;
 }

 section#login > div#formulario .text_field > button{
    color: white;
    background-color: transparent;
    border-style: none;
    transition: 0.3s;
    width: 10%;
    float: right;
    display: flex;
    position: relative;
    top: -40px;
}
section#login > div#formulario .text_field > button:hover{
    cursor: pointer;
}

.voltar{
    position: absolute;
    top: 2;
    left: 2;
    color: white;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
}
