*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.450);

    background-color: black;
    width: 60vh;
    height: 100vh;

    transition: width 0.5s, height 0.5s;
    
}

section#login > div#img{
    display: block;
    background: url(../teste_logo_laranja.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#login > div#formulario h1{
    color:white;
    font-weight: bold;
    font-size: 35px;
}

section#login > div#formulario > h1.subtitulo{
    font-size: 20px;
    color:#f2f2f2d3;
    margin-bottom: 60px;
    margin-top: 20px;
 }

section#login > div#formulario .text_field{
    color: white;
}
section#login > div#formulario .text_field label{
    text-align: left;
    margin-right: 30px;
    margin-top: 30px;
}

section#login > div#formulario .text_field .msg{
    color:  #f2f2f2d3;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
    height: 60px;
    align-items: center;
}

section#login > div#formulario .text_field > input{
    color: white;
    background-color: transparent;
    border: 2px solid #d14919;
    border-radius: 5px;
    font-size: 15px;
    float: right;
    margin-left: 10px;
    transition: 0.3s;
    width: 100%;
    padding:15px;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 0;
   
}

section#login > div#formulario .text_field > input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

section#login > div#formulario .btn_login{
    width: 100%;
    background-color: #d14919;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    border-style: none;
    border-radius: 5px;
 }

 section#login > div#formulario .btn_login:hover{
     background-color: #c9491b9d;
     padding: 5px;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 18px;
     cursor: pointer;
}

section#login > div#formulario .esqueceu{
    font-size: 14px;
    float: right;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #d14919;
    padding-bottom: 3px;
    margin-right: 15px;
}
section#login > div#formulario .conectar{
    display: flex;
    align-self: center;
    font-size: 14px;
    float: left;
    color: white;
    text-decoration: none;
   
}
section#login > div#formulario .conectar input{
    margin-right: 10px;
    background-color: #d14919;
    font-size: 30px;
    width: 1px;
    border-style: none;
    margin-right: 30px;
}

section#login > div#formulario .conectar input:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
  }
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    border: 2px solid #d14919;
    border-radius: 5px;
    margin-left: 0px;
    margin-bottom: 4px;
  }

section#login > div#formulario .cadastro{
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: 14px;
    margin-left: 20%;
    margin-bottom: 80px;
 }

 section#login > div#formulario .cadastro > a{
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #d14919;
    padding-bottom: 3px;
 }
 section#login > div#formulario .text_field > button{
    color: white;
    background-color: transparent;
    border-style: none;
    transition: 0.3s;
    width: 10%;
    float: right;
    display: flex;
    position: relative;
    top: -47px;
}

section#login > div#formulario .text_field > button:hover{
    cursor: pointer;
}

section#login > .alert {
    background-color: yellow;
    color: white;
    position: fixed;
    display: none;
    right: 0;
    padding: 20px;
    background-color:#FFFFBF; border:2px #2b2b2b solid; color:#2b2b2b; border-radius:5px;
}

